.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(126, 31, 208);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-navigation__items {
  margin-left: 1.5rem;
}

.main-navigation__items ul {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a {
  text-decoration: none;
  color: rgb(218, 218, 218);
}

.main-navigation__items a:hover,
.main-navigation__items a.active,
.main-navigation__items a:active {
  color: rgb(228, 222, 31);
}